<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet"> 

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous"> 
    <link rel="stylesheet" href="/resources/css/chat.css">
    <title>Chatall chat</title>
</head>
<body>
   <header>
        <div class="config">
            <div class='imgUser'>
                <img src="resources/usuario.jpg" alt="" class=userImg>
            </div>
            <div class='userName' >
               <h3 id="usuarioPrueba" class="nomUser"><%= user %></h3>
            </div>
        </div>
        <div class="cont-nombre">
            <div>
                <!-- for--> 
            </div>
            <div class="cont-title-logo">
                <div class="cont-logo">
                    <img src="resources/vector2.png" class="logo" >
               </div>
               <div class="cont-title">
                    <h1>CHATALL</h1>
                </div>   
            </div>
        </div>
   </header>
   <div class="cont-pri">
       <div class="barra-chats">
            
            <div class="cont-agregar">
                <div class="agregar">  
                    <p>
                        <a  href="newcontact/<%= user %>" >Agregar Contacto</a>
                    </p>
                </div>
                <!--<div class="ico-agregar">
                    <i class="fas fa-plus"></i> 
                </div>-->
            </div>
            <% for(let i = 0 ; i < contactos.length; i++) {%>
                <div class='cont-agregar conversaciones'>
                    <div>
                        <img src="resources/usuario.jpg"  class='userImg' >
                    </div>
                    <div>
                        <div>
                            <% if (contactos[i].username2 == user) { %>
                                <h3> <%= contactos[i].username1%></h3>
                            <% } else{ %>
                                <h3> <%= contactos[i].username2%></h3>
                            <% } %>
                        </div>
                        <div class="texto-chat">
                            <p></p>
                        </div>
                    </div>
                </div>  
            <% }; %>
            
       </div>
       <div class="cont-chat">
           <div class="chat" id="cont-chat">
                <audio id="audio"></audio>
           </div>
           <div class="barra-chat">
               <div>
                    
               </div>
               <div >
                    <input type="text" class="text" placeholder="Escribe algo..." id="barra-escribir">
                    <!--<input type="submit" value=">">      -->     
               </div>
               <div >
                    <i class="fas fa-laugh iconos-chat" id="emojis"></i>
                    <i class="fas fa-microphone iconos-chat" id="botonAudio"></i>
                    <i class="fas fa-location-arrow iconos-chat" id="enviarAudio"></i>
               </div>
           </div>
       </div>
   </div>
   <div class="ContEmojis" id="contenedorEmojis">

       <div class="cont-emoji"><span class="emoji"> &#128513</span></div>
       <div class="cont-emoji"><span class="emoji"> &#128512</span></div>
       <div class="cont-emoji"><span class="emoji"> &#128518</span></div>
       <div class="cont-emoji"><span class="emoji"> &#128514</span></div>
       <div class="cont-emoji"><span class="emoji"> &#129299</span></div>
       <div class="cont-emoji"><span class="emoji"> &#129300</span></div>
       <div class="cont-emoji"><span class="emoji"> &#128517</span></div>
       <div class="cont-emoji"><span class="emoji"> &#128521</span></div>
       <div class="cont-emoji"><span class="emoji"> &#128523</span></div>
       <div class="cont-emoji"><span class="emoji"> &#128520</span></div>
       <div class="cont-emoji"><span class="emoji"> &#128527</span></div>
       <div class="cont-emoji"><span class="emoji"> &#128526</span></div>
       <div class="cont-emoji"><span class="emoji"> &#128525</span></div>
       <div class="cont-emoji"><span class="emoji"> &#129321</span></div>
       <div class="cont-emoji"><span class="emoji"> &#128528</span></div>
       <div class="cont-emoji"><span class="emoji"> &#128530</span></div>
       <div class="cont-emoji"><span class="emoji"> &#128543</span></div>
       <div class="cont-emoji"><span class="emoji"> &#128542</span></div>
       <div class="cont-emoji"><span class="emoji"> &#128532</span></div>
       <div class="cont-emoji"><span class="emoji"> &#128531</span></div>
       <div class="cont-emoji"><span class="emoji"> &#128546</span></div>
       <div class="cont-emoji"><span class="emoji"> &#128534</span></div>
       <div class="cont-emoji"><span class="emoji"> &#128557</span></div>
       <div class="cont-emoji"><span class="emoji"> &#128533</span></div>
       <div class="cont-emoji"><span class="emoji"> &#128535</span></div>
       <div class="cont-emoji"><span class="emoji"> &#128536</span></div>
       <div class="cont-emoji"><span class="emoji"> &#128539</span></div>
       <div class="cont-emoji"><span class="emoji"> &#128540</span></div>
       <div class="cont-emoji"><span class="emoji"> &#128541</span></div>
       <div class="cont-emoji"><span class="emoji"> &#128544</span></div>
       <div class="cont-emoji"><span class="emoji"> &#128545</span></div>
       <div class="cont-emoji"><span class="emoji"> &#128553</span></div>
       <div class="cont-emoji"><span class="emoji"> &#128556</span></div>
       <div class="cont-emoji"><span class="emoji"> &#128558</span></div>
       <div class="cont-emoji"><span class="emoji"> &#128559</span></div>
       <div class="cont-emoji"><span class="emoji"> &#128561</span></div>
       <div class="cont-emoji"><span class="emoji"> &#128563</span></div>
       <div class="cont-emoji"><span class="emoji"> &#128564</span></div>
       <div class="cont-emoji"><span class="emoji"> &#128567</span></div>
       <div class="cont-emoji"><span class="emoji"> &#129318</span></div>
       <div class="cont-emoji"><span class="emoji"> &#128584</span></div>
       <div class="cont-emoji"><span class="emoji"> &#128585</span></div>
       <div class="cont-emoji"><span class="emoji"> &#128586</span></div>
       <div class="cont-emoji"><span class="emoji"> &#128169</span></div>
       <div class="cont-emoji"><span class="emoji"> &#128169</span></div>
       <div class="cont-emoji"><span class="emoji"> &#128591</span></div>
       <div class="cont-emoji"><span class="emoji"> &#128147</span></div>
       <div class="cont-emoji"><span class="emoji"> &#128148</span></div>
       <div class="cont-emoji"><span class="emoji"> &#128156</span></div>
       <div class="cont-emoji"><span class="emoji"> &#128170</span></div>
       <div class="cont-emoji"><span class="emoji"> &#128077</span></div>
       <div class="cont-emoji"><span class="emoji"> &#128075</span></div>
       <div class="cont-emoji"><span class="emoji"> &#128079</span></div>
   </div>
   <% if (contacto) { %>

    <!--verficar que esto funcione con el req.session -->
    <div class="new-contacto">
        <div class="cont-title-form">
            <h2>Nuevo contacto</h2>
        </div>
        <form action="<%= user %>" method="POST" >
            
            <div class="cont-input">
                <i class="fas fa-user-plus icono-form"></i>
                <input type="text" placeholder="Nombre usuario" class="input" name="newuser">
            </div>
            <div>
                <input type="submit" value="Agregar contacto" class="boton-form">
            </div> 
            
        </form>
    <div>
<% } %>
<script src="/socket.io/socket.io.js"></script>
<script src="/resources/script/chat.js"></script>
<script src="/resources/script/emojis.js"></script>
</body>
</html>